<div class="row">
    <div class="col-md-3">


        <!--Card-->
        <div class="card card-cascade narrower">

            <!--Card image-->
            <div class="view overlay hm-white-slight waves-light" mdbWavesEffect>
                <img src="../../../../assets/img/vish.jpg" class="img-fluid">
                <a>
                    <div class="mask"></div>
                </a>
            </div>
            <!--/Card image-->

            <!--Card content-->
            <div class="card-body text-center">
                <!--Title-->
                <h4 class="card-title font-bold mb-2"><strong>Vishnu S Tiwary</strong></h4>
                <h5 class="indigo-text"><strong>Full Stack Developer</strong></h5>

                <h6 class='text-justify'><strong>About:</strong></h6>
                <p class='text-justify'>a freelance full stack developer specialized in
                    front-end and back-end solution development.</p>

                <div class="text-right">
                    <button type="button" class="btn btn-outline-primary btn-rounded  btn-sm" mdbWavesEffect>More...</button>
                </div>

            </div>
            <!--/.Card content-->

        </div>
        <!--/.Card-->

    </div>
</div>